@model VN_Center.Models.ViewModels.LoginViewModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Iniciar Sesi贸n";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <div class="app-brand justify-content-center mb-5">
                        <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
                        </a>
                    </div>
                    @* CENTRADO AADIDO AQU *@
                    <div class="text-center">
                        <h4 class="mb-1">隆Bienvenido a @TempData.Peek("appName")! </h4>
                        <p class="mb-6">Por favor, inicia sesi贸n en tu cuenta.</p>
                    </div>

                    <div asp-validation-summary="All" class="text-danger mb-3"></div>

                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                    }

                    <form id="formAuthentication" class="mb-6" asp-controller="Auth" asp-action="LoginBasic" asp-route-returnurl="@returnUrl" method="post">
                        @Html.AntiForgeryToken()
                        <div class="mb-6">
                            <label asp-for="EmailOrUserName" class="form-label"></label>
                            <input asp-for="EmailOrUserName" class="form-control" placeholder="Ingresa tu correo o nombre de usuario" autofocus>
                            <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" asp-for="Password"></label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" class="form-control" placeholder="路路路路路路路路路路路路" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-8">
                            <div class="d-flex justify-content-between mt-8">
                                <div class="form-check mb-0 ms-2">
                                    <input asp-for="RememberMe" class="form-check-input">
                                    <label class="form-check-label" asp-for="RememberMe"></label>
                                </div>
                                <a asp-controller="Auth" asp-action="ForgotPasswordBasic">
                                    <span>驴Olvidaste tu contrase帽a?</span>
                                </a>
                            </div>
                        </div>
                        <div class="mb-6">
                            <button class="btn btn-primary d-grid w-100" type="submit">Iniciar Sesi贸n</button>
                        </div>
                    </form>

                    <p class="text-center">
                        <span>驴Nuevo en nuestra plataforma?</span>
                        <a asp-controller="Auth" asp-action="RegisterBasic">
                            <span>Crear una cuenta</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
